@font-face {
    font-family: 'Vercetti';
    src: url('Vercetti-Regular.eot');
    src: local('Vercetti Regular'), local('Vercetti-Regular'),
        url('Vercetti-Regular.eot?#iefix') format('embedded-opentype'),
        url('Vercetti-Regular.woff2') format('woff2'),
        url('Vercetti-Regular.woff') format('woff'),
        url('Vercetti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

