<nav class="m-0">
  <mat-toolbar>

    <mat-toolbar-row>


      <img src="https://venti.com.ar/static/media/headerVentiLogo.f2fde061.svg" style="width: 8rem;" routerLink="">



      <button mat-raised-button [matMenuTriggerFor]="menu" class="w-36 txt">
        Ingresar
      </button>
      
      <mat-menu #menu="matMenu" class="w-36">
        <button mat-menu-item routerLink="login" class="txt ron">Iniciar Sesion</button>
        <button mat-menu-item routerLink="registro">Registrarse</button>
      </mat-menu>


    </mat-toolbar-row>

  </mat-toolbar>
</nav>


<router-outlet></router-outlet>